In [6]:
#Question 1
def arrange(list):
    list.sort(reverse = True)
    return list
    
list = [1,5,3,4,2]
sorted = arrange(list)
print(sorted)

[5, 4, 3, 2, 1]

In [8]:
#Question 2
def max_min(list):
    max = list[0]
    min = list[0]

    for num in list:
        if num > max:
            max = num
        if num < min:
            min = num
    return max,min

list = [1,2,5,3,6,7,40]
max,min = max_min(list)
print(f"Maximun : {max}")
print(f"Minimun : {min}")

Maximun : 40
Minimun : 1

In [1]:
employees = [
    {"empid": 101, "emp_name": "John", "salary": 50000},
    {"empid": 102, "emp_name": "Alice", "salary": 60000},
    {"empid": 103, "emp_name": "Bob", "salary": 55000},
    {"empid": 104, "emp_name": "Eve", "salary": 45000},
]

def sort_by_name(employees):
    return employees["emp_name"]
def sort_by_salary(employees):
    return employees["salary"]

sorted_by_name = sorted(employees, key=sort_by_name)

sorted_by_salary = sorted(employees, key=sort_by_salary, reverse = True)

print("Employee sorted by name")
for emp in sorted_by_name:
    print(emp)
    
print("/n Employee sorted by salary (descending)")
for sal in sorted_by_salary:
    print(sal)

Employee sorted by name
{'empid': 102, 'emp_name': 'Alice', 'salary': 60000}
{'empid': 103, 'emp_name': 'Bob', 'salary': 55000}
{'empid': 104, 'emp_name': 'Eve', 'salary': 45000}
{'empid': 101, 'emp_name': 'John', 'salary': 50000}
/n Employee sorted by salary (descending)
{'empid': 102, 'emp_name': 'Alice', 'salary': 60000}
{'empid': 103, 'emp_name': 'Bob', 'salary': 55000}
{'empid': 101, 'emp_name': 'John', 'salary': 50000}
{'empid': 104, 'emp_name': 'Eve', 'salary': 45000}

In [2]:
#Question 4
book = [
    {"book_name": "John", "price": 500},
    {"book_name": "Alice", "price": 600},
    {"book_name": "Bob", "price": 550},
    {"book_name": "Eve", "price": 450},
]
def sort_by_price(book):
    return book["price"]


sorted_by_price = sorted(book, key=sort_by_price)

print(" books according to thier price from low to high.")
for price in sorted_by_price:
    print(price)

 books according to thier price from low to high.
{'book_name': 'Eve', 'price': 450}
{'book_name': 'John', 'price': 500}
{'book_name': 'Bob', 'price': 550}
{'book_name': 'Alice', 'price': 600}

In [4]:
city = {
    "Delhi": 25,
    "Mumbai": 32,
    "Bangalore": 28,
    "Chennai": 33,
    "Kolkata": 30,
    "Hyderabad": 29,
    "Ahmedabad": 34,
    "Pune": 27,
    "Jaipur": 30,
    "Surat": 31,
}

max_temp = max(city,key=city.get)
min_temp = min(city,key=city.get)
Average_temp = sum(city.values())/len(city)

print(f"Highest Temperature city is {max_temp}")
print(f"Lowest Temperature city is {min_temp}")
print(f"Average Temperature is {Average_temp}")

Highest Temperature city is Ahmedabad
Lowest Temperature city is Delhi
Average Temperature is 29.9

In [9]:
student = {"Maths":90, "science":90, "Computer":80}
total_marks = sum(student.values())
max_marks = len(student)*100
percentage = (total_marks/max_marks)*100
print(f"Percentage of student is {percentage}")

if percentage >= 75:
    student_class = "Distinction"
elif percentage >= 60:
    student_class = "First Class"
elif percentage >= 50:
    student_class = "Second Class"
elif percentage >= 35:
    student_class = "Pass Class"
else:
    student_class = "Fail"

print(student_class)

Percentage of student is 86.66666666666667
Distinction